<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset="UTF-8" />
        <title>New User Registration </title>
    </head>

    <body >
        <h2> New User Registration</h2>
        <form
            action="{{ url_for('crud.create_user') }}"
            method  = "POST"
            novalidate = "novalidate"
        >
            {{form.csrf_token}}
            <p>
                {{form.username.label}} {{form.username(placeholder = "User Name")}}
            </p>
            {% for error in form.username.errors %}
            <span style = "color: red;">{{error}}</span>
            {% endfor %}

            <p>
                {{form.email.label}} {{form.email(placeholder = "Email Address")}}
            </p>
            {% for error in form.email.errors %}
            <span style = "color: red;">{{error}}</span>
            {% endfor %}

            <p>
                {{form.password.label}} {{form.password(placeholder = "Password")}}
            </p>
            {% for error in form.password.errors %}
            <span style = "color: red;">{{error}}</span>
            {% endfor %}
            <p>{{form.submit()}}</p>
        </form>
    </body>

</html>